{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<h1>Change Your Password</h1>
<form method="post" class="my-5">
    {% csrf_token %}
    {% for field in form %}
      {{ field.errors }}
      <div class="row my-3">
        <label class="col-md-4 align-self-center"> 
          {{ field.label }}:
        </label>
        <div class="col-md-6">
          {% render_field field  class="rounded input-text" %}
        </div>

      </div>
     
    {% endfor %}
    <div class="row">

      <div class="col-md-8">
  
        <button type="submit" class="btn upload-file form-control">Confirm</button>
      </div>
      
    </div>

    
  </form>

  {% endblock %}