{% include "nav.html" %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 left-bar text-center pt-5 pb-4">
                        <div class="container-fluid">
                            
                            <a href="/dashboard/" style="text-decoration: none;">
                                <div class="row left-bar-select rounded py-3">
    
                                    <div class="col-md-12 align-items-center mt-4 mt-md-0">
                                        <div>
                                            <h3>Analytics</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="/dashboard/upload" style="text-decoration: none;">
                                <div class="row left-bar-select rounded py-3">
    
                                    <div class="col-md-12 align-items-center mt-4 mt-md-0">
                                        <div>
                                            <h3>Upload a Video</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                                                        
                            <a href="/dashboard/manage" style="text-decoration: none;">
                                <div class="row left-bar-select rounded py-3">
                                    <div class="col-md-12 align-items-center mt-4 mt-md-0">
                                        <div>
                                            <h3>Manage Profile</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="/dashboard/support" style="text-decoration: none;">
                                <div class="row left-bar-select rounded py-3">
                                    <div class="col-md-12 align-items-center mt-4 mt-md-0">
                                        <div>
                                            <h3>Support</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
       
              
                        </div>
                    </div>
                    
                    
                    <div class="col-12 col-md-9 py-md-3 pl-md-5 bd-content content-div">
                        {% block content %}
                        {% endblock %}
            

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if messages %}

    {% for message in messages %}
    <script>
        alert("successfully uploaded");
    </script>
    {% endfor %}

    {% endif %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
  </body>
</html>



